.env 
.venv

node_modules/

# essentia weights & metadata
essentia/weights/
server/model_metadata/

test/_aud/
test/audio_samples/
server/aud_tmp/
server/src/pre_process/aud_src

backup.sql
backup.dump

essentia